<div class="tablepipe">
   <!-- pipe for date -->
    <h3> Date: {{currentdate | date:'medium'}}</h3>


    <table class="table ">
       
      <thead>
        <tr>
          <th scope="col">RollNo</th>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Age</th>
          <th scope="col">Location</th>
          <th scope="col">Phone</th>
          <th scope="col">State</th>
          <th scope="col">Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students.stud">               
          <td>{{ student.RollNo }}</td>
          <td><b>{{ student.Name | genderspecific: student.Gender }}</b></td>
          <td>{{ student.Gender }}</td>
          <td>{{ student.Age }}</td>
          <td>{{ student.Location  }}</td>
          <td>{{ student.Phone| slice:0:10 }}</td>
          <!-- uppercase pipe -->
          <td>{{ student.State | uppercase }}</td>
          <!-- percent pipe -->
          <td><b>{{ student.Marks|percent }}</b></td>
        </tr>  
      </tbody>
    </table>
<!-- currency pipe -->
    <h5>Total Fee:  {{decimalNumber | currency:'INR':'symbol':'2.1-2'}}</h5>
  </div>
  