.tablepipe {
    margin: 20px;
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
  
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
  
      th {
        background-color: #2fb47e;
      }
  
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
  
      tr:hover {
        background-color: #e5e5e5;
      }
    }
  }
  